**Backend (.env)**
```
ADMIN_EMAIL=admin@trackbackai.com
ADMIN_PASSWORD=admin123
ALLOWED_ORIGINS=https://trackbackai.me,http://localhost:3005
AWS_ACCESS_KEY_ID=AKIA6C3IHGGHP6FD4KNV
AWS_REGION=eu-north-1
AWS_S3_BUCKET=trackback-ai
AWS_SECRET_ACCESS_KEY=p/7s4K44acXHToXHtHhvR9afAVOlDpXYpgCpjWrZ
CORS_ORIGIN=https://trackbackai.me
DATABASE_URL=postgresql://trackback_user:wYqtxc1Bz49go0ANWsvXzvd37Okk4nQJ@dpg-d612l1ggjchc73ej9ehg-a/trackback_ai_db
DB_HOST=dpg-d612l1ggjchc73ej9ehg-a
DB_NAME=trackback_ai_db
DB_PASSWORD=wYqtxc1Bz49go0ANWsvXzvd37Okk4nQJ
DB_PORT=5432
DB_USER=trackback_user
EMAIL_FROM="TrackBackAI <notifications@trackbackai.me>"
FRONTEND_URL=https://trackbackai.me
INTERNAL_API_SECRET=044b495554d50709099042ec418d0daeaca8787019a4bdca40ffffb59f9f1b0e
JWT_SECRET=5bc7229a2e56a0480e5c179caa5ecfa623780ea8dfdce4e9a3583f677bdac54c
ML_SERVICE_URL=https://trackback-ml-service.onrender.com
NODE_ENV=production
PORT=3001
RESEND_API_KEY=re_BaH8L9k3_N9uMhQ21zaioiKB35yQxqsEg
S3_BUCKET=trackback-ai
SOCKET_PORT=3001
```

**Frontend (.env)**
```
# --- FRONTEND ENV ---

# Frontend Configuration
REACT_APP_API_URL=http://localhost:3001
REACT_APP_SOCKET_URL=http://localhost:3001
REACT_APP_VERSION=1.0.0

# Development settings
CHOKIDAR_USEPOLLING=true
WDS_SOCKET_PORT=0
```

**ML Service (.env)**
```
AWS_ACCESS_KEY_ID=AKIA6C3IHGGHP6FD4KNV
AWS_REGION=eu-north-1
AWS_SECRET_ACCESS_KEY=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
BACKEND_API_URL=https://trackback-backend.onrender.com
INTERNAL_API_SECRET=044b495554d50709099042ec418d0daeaca8787019a4bdca40ffffb59f9f1b0e
PYTHON_VERSION=3.11.5
S3_BUCKET=trackback-ai
```